<div class="fields-group">
    <div class="field">
        <div class="name">
            ID товаров
        </div>
        <div class="value">
            <input type="text"
                   name="product_ids"
                   value="{$settings.product_ids|escape}"
                   class="long"
                   placeholder="Например: 12,45,77,103">

            <p class="hint">
                Укажите ID товаров, которые участвуют в акции “Подарок для вас”.
                Несколько ID указываются через запятую.
            </p>
        </div>
    </div>
</div>
    